[Unit]
Description=EasyEffects Change Priority Service
After=user@1000.service
Requires=user@1000.service

[Service]
Type=oneshot
ExecStartPre=/bin/bash -c 'until pgrep -u $USER pipewire; do sleep 1; done'
ExecStart=/usr/local/bin/easyeffects-change-priority.sh

[Install]
WantedBy=user@1000.service
